{%- assign option_pairs = options_str | split: '|' -%}
<div class="tw-grid tw-grid-cols-3 tw-gap-6 certificate-filter-group" data-filter-group="{{ group_id }}" data-multiselect="true">
  {%- for pair_str in option_pairs -%}
    {%- assign parts = pair_str | split: ':' -%}
    {%- assign label = parts[0] -%}
    {%- assign value = parts[1] | default: label -%}
    {%- assign id_val = value | downcase | replace: ' ', '-' -%}
    {%- assign id = group_id | append: '-' | append: id_val -%}
    <button
      type="button"
      class="tw-w-full tw-px-3 tw-py-1.5 md:tw-px-4 md:tw-py-4 tw-bg-white tw-border tw-rounded-md tw-text-sm tw-font-medium hover:tw-bg-gray-100 focus:tw-outline-none tw-transition-colors tw-duration-150 tw-ease-in-out data-[active='true']:tw-border-gray-700 data-[active='true']:tw-bg-gray-100 data-[active='false']:tw-border-gray-200 data-[active='false']:tw-bg-white data-[active='false']:hover:tw-bg-gray-100"
      data-value="{{ value }}"
      aria-pressed="false"
      data-active="false"
      id="{{ id }}"
    >
      {{ label }}
    </button>
  {%- endfor -%}
</div>