<div>
  <label class="tw-block tw-text-base tw-font-medium tw-text-gray-700 tw-mb-2">Shape</label>
  {% render 'filter-button-group', group_id: 'ds-shape', options_str: "Round:ROUND|Princess:PRINCESS|Cushion:CUSHION|Emerald:EMERALD|Oval:OVAL|Radiant:RADIANT|Asscher:ASSCHER|Marquise:MARQUISE|Heart:HEART|Pear:PEAR", multiselect: "false", custom_class: "shape-buttons tw-grid tw-grid-cols-5 tw-gap-2" %}
</div>