<div>
  <label class="tw-block tw-text-base tw-font-medium tw-text-gray-700 tw-mb-2">Table (%)</label>
  <div class="tw-grid tw-grid-cols-2 tw-gap-x-12 tw-mb-2">
    <div>
      <label for="ds-min-table" class="tw-block tw-text-xs tw-font-medium tw-text-gray-500 tw-mb-1">Min Table</label>
      <input type="text" id="ds-min-table" placeholder="0%" class="tw-w-full focus:tw-ring-gray-500 focus:tw-border-gray-500 tw-block tw-shadow-sm tw-text-base tw-border-gray-300 tw-rounded-md tw-p-2">
    </div>
    <div>
      <label for="ds-max-table" class="tw-block tw-text-xs tw-font-medium tw-text-gray-500 tw-mb-1">Max Table</label>
      <input type="text" id="ds-max-table" placeholder="100%" class="tw-w-full focus:tw-ring-gray-500 focus:tw-border-gray-500 tw-block tw-shadow-sm tw-text-base tw-border-gray-300 tw-rounded-md tw-p-2">
    </div>
  </div>
  <div id="ds-table-slider" class="tw-mt-8"></div>
</div>