<!-- Diamond Details View (initially hidden) -->
<div id='diamond-details-view' class='tw-hidden'>
  <div class='tw-max-w-6xl tw-mx-auto tw-p-6'>
    <div class='tw-mb-4'>
      <button
        id='back-to-gallery'
        class='tw-inline-flex tw-items-center tw-text-gray-600 hover:tw-text-gray-800 tw-text-lg tw-cursor-pointer'
      >
        <svg
          class='tw-w-5 tw-h-5 tw-mr-2 tw-mt-0.5'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
        Tillbaka
      </button>
    </div>
    <div class='tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-24'>
      <!-- Left side - Diamond Image -->
      <div class='tw-w-full'>
        <div
          id='diamond-details-image'
          class='tw-w-full tw-h-auto tw-flex tw-items-center tw-justify-center tw-bg-white'
        >
          <!-- Image or SVG will be populated by JavaScript -->
        </div>
      </div>

      <!-- Right side - Diamond Details -->
      <div class='tw-flex tw-flex-col'>
        <div class='tw-flex tw-items-center tw-justify-between tw-mb-4 -tw-mt-1.5'>
          <h1 id='diamond-details-title' class='tw-text-3xl tw-font-medium tw-text-gray-800 tw-mb-2'>
            <!-- Title will be populated by JavaScript -->
          </h1>
          <p id='diamond-details-price' class='tw-text-2xl tw-font-medium tw-text-gray-800'>
            <!-- Price will be populated by JavaScript -->
          </p>
        </div>

        <div id='diamond-details-specs' class='tw-mb-8 tw-space-y-2 tw-divide-y tw-divide-gray-200'>
          <!-- Specifications will be populated by JavaScript -->
        </div>

        <button class='tw-w-full tw-bg-gray-800 tw-text-white tw-py-4 tw-px-6 tw-text-lg tw-font-medium tw-rounded-md hover:tw-bg-gray-700 tw-transition-colors'>
          Lägg i varukorg
        </button>
      </div>
    </div>
  </div>
</div>
