<!-- Diamond Search Results Section -->
<div class="tw-flex tw-justify-between tw-items-center tw-mb-4">
  <p class="tw-text-base tw-text-gray-700">Resultat - <span id="ds-results-count">0 diamanter</span></p>

  <div>
    <label for="ds-sort-by" class="tw-sr-only">Sortera efter</label>
    <select id="ds-sort-by" name="ds-sort-by" class="tw-block tw-w-full tw-pl-3 tw-pr-2 tw-py-2 tw-text-base tw-border tw-border-gray-200 focus:tw-outline-none focus:tw-border-gray-400 tw-rounded-md">
      <option value="Price: low to high">Pris: låg till hög</option>
      <option value="Price: high to low">Pris: hög till låg</option>
      <option value="Carat: low to high">Carat: låg till hög</option>
      <option value="Carat: high to low">Carat: hög till låg</option>
    </select>
  </div>
</div>

<div id="diamond-grid-area" class="tw-transition-opacity tw-duration-300">
  <!-- JS will put initial loading message here -->
  <!-- Products will be dynamically inserted here by renderDiamonds -->
</div>