<div>
  <label for="ds-clarity-slider" class="tw-block tw-text-base tw-font-medium tw-text-gray-700 tw-mb-2">Clarity</label>
  <div id="ds-clarity-slider-noui" class="tw-mt-8"></div>
  <div class="label-container tw-flex tw-justify-around tw-mt-4 tw-text-sm tw-text-gray-500" id="ds-clarity-labels">
    <span>SI2</span><span>SI1</span><span>VS2</span><span>VS1</span><span>VVS2</span><span>VVS1</span><span>IF</span><span>FL</span>
  </div>
</div>