<div>
  <label class="tw-block tw-text-base tw-font-medium tw-text-gray-700 tw-mb-2">Carat</label>
  <div class="tw-flex tw-justify-between tw-mb-2">
    <div>
      {% comment %} <label for="ds-min-carat" class="tw-block tw-text-xs tw-font-medium tw-text-gray-500 tw-mb-1">Min Carat</label> {% endcomment %}
      <select id="ds-min-carat" class="tw-w-24 focus:tw-border-gray-400 tw-block tw-text-base tw-border tw-border-gray-200 tw-rounded-md tw-p-2">
        <option value="">Välj Min Carat</option>
        {% render 'carat-options-min' %}
      </select>
    </div>
    <div>
      {% comment %} <label for="ds-max-carat" class="tw-block tw-text-xs tw-font-medium tw-text-gray-500 tw-mb-1">Max Carat</label> {% endcomment %}
      <select id="ds-max-carat" class="tw-w-24 focus:tw-border-gray-400 tw-block tw-text-base tw-border tw-border-gray-200 tw-rounded-md tw-p-2">
        <option value="">Välj Max Carat</option>
        {% render 'carat-options-max' %}
      </select>
    </div>
  </div>
  <div id="ds-carat-slider" class="tw-mt-8"></div>
</div>