<div>
  <label class="tw-block tw-text-base tw-font-medium tw-text-gray-700 tw-mb-2">Price (SEK)</label>
  <div class="tw-grid tw-grid-cols-2 tw-gap-x-12 tw-mb-2">
    <div>
      <label for="ds-min-price" class="tw-block tw-text-xs tw-font-medium tw-text-gray-500 tw-mb-1">Min Price</label>
      <input type="text" id="ds-min-price" placeholder="2 000 SEK" class="tw-w-full focus:tw-ring-gray-500 focus:tw-border-gray-500 tw-block tw-shadow-sm tw-text-base tw-border-gray-300 tw-rounded-md tw-p-2">
    </div>
    <div>
      <label for="ds-max-price" class="tw-block tw-text-xs tw-font-medium tw-text-gray-500 tw-mb-1">Max Price</label>
      <input type="text" id="ds-max-price" placeholder="50 000 000 SEK" class="tw-w-full focus:tw-ring-gray-500 focus:tw-border-gray-500 tw-block tw-shadow-sm tw-text-base tw-border-gray-300 tw-rounded-md tw-p-2">
    </div>
  </div>
  <div id="ds-price-slider" class="tw-mt-8"></div>
</div>