<div>
  <label class='tw-block tw-text-base tw-font-medium tw-text-gray-700 tw-mb-2'>Bord (%)</label>
  <div class='tw-grid tw-grid-cols-2 tw-gap-x-12 tw-mb-2'>
    <div>
      <input
        type='text'
        id='ds-min-table'
        placeholder='0%'
        class='tw-w-full  focus:tw-border-gray-400 tw-block tw-text-base tw-border tw-border-gray-200 tw-rounded-md tw-p-2'
      >
    </div>
    <div>
      <input
        type='text'
        id='ds-max-table'
        placeholder='100%'
        class='tw-w-full  focus:tw-border-gray-400 tw-block tw-text-base tw-border tw-border-gray-200 tw-rounded-md tw-p-2'
      >
    </div>
  </div>
  <div id='ds-table-slider' class='tw-mt-8'></div>
</div>
