<div>
  <label class="tw-block tw-text-base tw-font-medium tw-text-gray-700 tw-mb-2">Förhållande</label>
  <div class="tw-flex tw-justify-between tw-mb-2">
    <div>
      <input type="text" id="ds-min-ratio" placeholder="0.80" class="focus:tw-border-gray-400 tw-block tw-text-base tw-border tw-border-gray-200 tw-rounded-md tw-p-2">
    </div>
    <div>
      <input type="text" id="ds-max-ratio" placeholder="3.00" class="focus:tw-border-gray-400 tw-block tw-text-base tw-border tw-border-gray-200 tw-rounded-md tw-p-2">
    </div>
  </div>
  <div id="ds-ratio-slider" class="tw-mt-8"></div>
</div>