<div>
  <label for='ds-symmetry-slider' class='tw-block tw-text-base tw-font-medium tw-text-gray-700 tw-mb-2'>Symmetri</label>
  <div id='ds-symmetry-slider-noui' class='tw-mt-8'></div>
  <div class='label-container tw-flex tw-justify-around tw-mt-4 tw-text-sm tw-text-gray-500' id='ds-symmetry-labels'>
    <span>Good</span><span>Very Good</span><span>Excellent</span>
  </div>
</div>
